body{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
}
.card-elements{
    display: flex;
    gap: 50px;
}
.card{
    width: 250px;
    border: 3px solid rgba(244, 165, 96, 0.24);
    border-radius: 10px;
    background-color: cornsilk;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(95, 158, 160, 0.452);
}
.card:hover{
    background-color: rgba(127, 255, 212, 0.582);
}
.card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}